*{
    font-family: "Manrope", serif;
    padding: 0px;
    margin: 0px;
}


.shadow-bx{
box-shadow: 0px 7px 50px 0px rgba(0, 0, 0, 0.06);
}

/* Group 3 */
/* Rectangle 1 */

position: absolute;
width: 200px;
height: 64px;
left: 230px;
top: 488.28px;

/* Linear */
background: linear-gradient(270deg, #FF0000 0%, #FF8938 100%);
border-radius: 10px;
